@charset "UTF-8";
/* -------------------------------------------------------------------------*/
/* Base */
/* CSS Reset */
/* line 17, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Tipografia b├ísica */
/* line 61, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 23, ../sass/base/_tipografia.scss */
h1 {
  font-size: 2em;
  line-height: 3em;
}

/* line 26, ../sass/base/_tipografia.scss */
h2 {
  font-size: 1.5em;
  line-height: 3em;
}

/* line 29, ../sass/base/_tipografia.scss */
h3 {
  font-size: 1.3em;
  line-height: 3em;
}

/* line 32, ../sass/base/_tipografia.scss */
h4, h5, h6 {
  font-size: 1.1em;
  line-height: 1.5em;
}

/* line 37, ../sass/base/_tipografia.scss */
a {
  color: #005588;
  text-decoration: underline;
}
/* line 45, ../sass/base/_tipografia.scss */
a:hover, a:active {
  color: black;
}

/* line 51, ../sass/base/_tipografia.scss */
strong {
  font-weight: 700;
}

/* -------------------------------------------------------------------------*/
/* Layout */
/* line 4, ../sass/layout/_layout.scss */
.agrupado:after, .ultimo:after, .contem:after {
  content: "";
  display: table;
  clear: both;
}

/* line 10, ../sass/layout/_layout.scss */
.contem {
  width: 75em;
  margin: 0 auto;
}

/* line 17, ../sass/layout/_layout.scss */
[role="main"], .complemento {
  float: left;
  /*  height: inherit;*/
}

/* line 23, ../sass/layout/_layout.scss */
[role="main"] {
  width: 100%;
}

/* line 28, ../sass/layout/_layout.scss */
.complemento.primario, .complemento.secundario {
  width: 20%;
}

/* line 31, ../sass/layout/_layout.scss */
.tresgrupos [role="main"] {
  width: 60%;
}

/* line 34, ../sass/layout/_layout.scss */
.doisgrupos [role="main"] {
  width: 75%;
}

/* line 37, ../sass/layout/_layout.scss */
.doisgrupos .complemento.primario, .doisgrupos .complemento.secundario {
  width: 25%;
}

/* -------------------------------------------------------------------------*/
/* Módulos */
/* Menu */
/* line 4, ../sass/module/menu/_menu.scss */
.menu a, .menu-horizontal a, .menu-vertical a, .menu a:hover, .menu-horizontal a:hover, .menu-vertical a:hover, .menu a:active, .menu-horizontal a:active, .menu-vertical a:active, .menu a:visited, .menu-horizontal a:visited, .menu-vertical a:visited {
  text-decoration: none;
}

/* line 13, ../sass/module/menu/_menu.scss */
.menu-horizontal li {
  float: left;
  margin-right: 1em;
}

/* line 3, ../sass/module/_module.scss */
.artigo {
  float: left;
  padding: .75em;
  width: 50%;
}

/* line 8, ../sass/module/_module.scss */
.artigo-destaque {
  width: 100%;
  /*  > * {
     padding: .75em; 
    }*/
}

/* -------------------------------------------------------------------------*/
/* Estado */
/* -------------------------------------------------------------------------*/
/* Tema */
/* line 3, ../sass/theme/_theme.scss */
.complemento {
  background-color: #f2f2f2;
}

/* -------------------------------------------------------------------------*/
/* Mudança de Estado */
@media only screen and (max-width: 29.9em) {
  /* line 28, ../sass/state-change/_state-change.scss */
  .contem {
    width: 100%;
  }
}
/*@media screen and (min-width: 480px) and (max-width: 767px) {*/
@media only screen and (min-width: 30em) and (max-width: 47.9em) {
  /* line 38, ../sass/state-change/_state-change.scss */
  .contem {
    width: 30em;
  }
}
@media only screen and (min-width: 48em) and (max-width: 59.9em) {
  /* line 47, ../sass/state-change/_state-change.scss */
  .contem {
    width: 48em;
  }
}
@media only screen and (min-width: 60em) and (max-width: 74.9em) {
  /* line 57, ../sass/state-change/_state-change.scss */
  .contem {
    width: 60em;
  }
}
@media only screen and (min-width: 90em) {
  /* line 68, ../sass/state-change/_state-change.scss */
  .contem {
    width: 90em;
  }
}
@media only screen and (max-width: 59.9em) {
  /* line 80, ../sass/state-change/_state-change.scss */
  [role="main"], .complemento {
    width: 100% !important;
  }
  /* line 82, ../sass/state-change/_state-change.scss */
  [role="main"]:after, .complemento:after {
    content: "";
    display: table;
    clear: both;
  }
}
