# .htaccess padrão www.alligo.com.br
#
# @author      Emerson Rocha Luiz <emerson@webdesign.eng.br>
# @copyright   Copyright (C) 2005 - 2013 Alligo LTDA.
# @license     MIT

# Requer ou usuário vindo de IPs específicos, ou então com credenciais certas
#------------------------------------------------------------------------------

# Autenticacao padrao
AuthType Basic
AuthName "Alligo"
AuthUserFile /home/alligo12/alligo.com.br/.htpasswd
Require valid-user

# Permitir de certos IPs
Order allow,deny
Allow from 127.0.0.1

# Explicita que qualquer condicao (ou IP, ou autenticacao) já serve
Satisfy any