@charset "UTF-8";
// ---------------------------------------------------------------------------
// Tipografia básica
// Ajuda a trabalhar harmonicamente com tamanho de letras e linha
// @see http://compass-style.org/reference/compass/typography/vertical_rhythm/
// @see http://24ways.org/2006/compose-to-a-vertical-rhythm
/* Tipografia básica */

// ---------------------------------------------------------------------------
// Vertical Rhythm
@import "compass/typography/vertical_rhythm";

$relative-font-sizing : false;
$base-font-size       : 16px;
$base-line-height     : 24px;

// Injeta no código a base
@include establish-baseline;

// ---------------------------------------------------------------------------
// Font-families
$padrao-font-sans     : "Myriad Pro", "Myriad", "Myriad Web Pro", "Lucida Grande", "Droid Sans", sans-serif;
$padrao-font-serif    : Constantia, Georgia, "Times New Roman", Times, serif;
$padrao-font-mono     : Monaco, Menlo, Consolas, "Courier New", monospace;

$padrao-font-base     : $padrao-font-serif;
$padrao-font-alt      : $padrao-font-sans;

// ---------------------------------------------------------------------------
// Definição de demais funções de fonte
.typo-base {
  Font-family: $padrao-font-base ;
  font-style: italic;
}
.typo-alt {
  Font-family: $padrao-font-alt;
  font-style: italic;
}
.typo-mono {
  Font-family: $padrao-font-mono;
}
// Links
a {
  color: $padrao-cor-link;
  @if ($padrao-link-underline-usar) {
    text-decoration: underline;
  } @else {
    text-decoration: none;
  }

  &:hover, &:active {
    color: adjust-lightness($padrao-cor-link, -50%);
  }
}

//Variações de texto
strong {
  font-weight: 700;
}

// Padrão Geral
body {
  @extend .typo-base;
}

// Titulos
h1, h2 {
  color: $padrao-cor-titulos;
  @extend .typo-alt;
  //@include adjust-font-size-to($base-font-size * 2);
}
// h2 {
//   color: $padrao-cor-titulos;
//   @extend .typo-alt;
//   @include adjust-font-size-to($base-font-size * 1.8);
// }
h3 {
  color: $padrao-cor-titulos;
  @extend .typo-alt;
  //@include adjust-font-size-to($base-font-size * 1.3);
}
// h4, h5, h6 {
//   @extend .typo-alt;
//   @include adjust-font-size-to($base-font-size * 1.1);
// }

.slogan {
  //font-size: 2.5em;
  //line-height: 1em;
}

[role="main"] > h1 {
  margin: 1.5em auto;
}
//p {
  //@include adjust-font-size-to($base-font-size * 1.2);
//}
// header p, article p {
//   font-size: 1.4em;
// }
footer h2 {
  @extend .typo-base;
  font-weight: 700;
}
footer {
  a, a:hover, a:link {
    color: #ccc;
  }
  a:hover {
    text-decoration: none;
  }
}